# Ignorar dependências do Node.js
node_modules/
package-lock.json

# Ignorar variáveis de ambiente (credenciais e senhas)
.env

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/
*.tmp
.DS_Store

# Arquivos de build e cache
dist/
coverage/
.vscode/
.idea/

# Ignorar arquivos de GitHub Actions temporários
.github/workflows/*.log
